# Pandas Tutorial

### Intro to Pandas

In [17]:
import pandas as pd
import numpy as np

area_dict = {"California": 1000, "Texas": 2000, "New York": 3000, "Florida"  : 4000, "Illinois" : 5000}
area = pd.Series(area_dict)
area

California    1000
Florida       4000
Illinois      5000
New York      3000
Texas         2000
dtype: int64

In [23]:
population_dict = {"California": 1878000, "Texas": 2766000, "New York": 3456000, "Florida"  : 11454000, "Illinois" : 87465000, "Kenya" : 5686855}
population = pd.Series(population_dict)
population

California     1878000
Florida       11454000
Illinois      87465000
Kenya          5686855
New York       3456000
Texas          2766000
dtype: int64

In [24]:
states = pd.DataFrame({'Population': population, 'Area': area})
states

              Area  Population
California  1000.0     1878000
Florida     4000.0    11454000
Illinois    5000.0    87465000
Kenya          NaN     5686855
New York    3000.0     3456000
Texas       2000.0     2766000

In [25]:
states[:]

              Area  Population
California  1000.0     1878000
Florida     4000.0    11454000
Illinois    5000.0    87465000
Kenya          NaN     5686855
New York    3000.0     3456000
Texas       2000.0     2766000

In [26]:
states["Area"]

California    1000.0
Florida       4000.0
Illinois      5000.0
Kenya            NaN
New York      3000.0
Texas         2000.0
Name: Area, dtype: float64